#header {
  padding: 40px 15px;
  text-align: center;
}

#loginButton {
  margin-top: 20px;
}

#rateLimitMessage {
  text-align: center;
}

h1 a { color: black; }
h1 a:hover { color: black; text-decoration: none; }

nav.paginator:nth-child(1) {
  margin-top: -74px;
}

table {
  float: left;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: 'Loading…';
  position: absolute;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: -50px;
}

.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border: 4px solid rgba(236, 235, 232, 1);
  border-top-color: rgba(130, 130, 130, 1);
  animation: spinner 1s linear infinite;
}

